###############
# LaTeX files #
###############

*.tex linguist-vendored
*.cls linguist-vendored
*.sty linguist-vendored
*.bib linguist-vendored


##############################
# Netkit miscellaneous files #
##############################

*.html linguist-vendored
